body{
    height:1000px;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%)) no-repeat;
}

#desktop_illustration{
    width: 240px;
    height: 200px;
    position: absolute;
    right:400px;
    top:40px;
}

#cube_illustration{
    width: 100px;
    height: 100px;
    position: absolute;
    top:115px;
    right:550px;
    z-index: 1;
}

#shadow_illustration{
    width: 460px;
    height: 460px;
    position: absolute;
    right:400px;
    bottom:-8%;
    
}

.arrow{
    width: 10px;
    height: 6px;
}

.card{
    
    background-color: white;
    position: relative;
    width: 300px;
    margin: auto;
    border-radius: 25px;
    padding: 20px;
    padding-left: 280px;
}

.text_zone{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.question{
    display: flex;
    border-bottom: hsl(240, 5%, 91%) solid 1px;
    justify-content:space-between;
    align-items: center;
}

.question:hover{
    color: hsl(14, 88%, 65%);
}

.answers{
    display: none;
}